﻿@{
    ViewBag.Title = "Exam Create";
}
<div class="row-fluid">
    <!-- Modal -->
    <div class="modal fade modal-wide75" id="divQsnEditorPopup" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                    <h1 style="color: #4c4c4c; font-size: 32px; font-weight: normal; line-height: 35px;">Question Editor</h1>
                </div>
                <div class="modal-body">
                    
                    <!-- ko with: question() -->

                    <!-- ko if: $data.questionType === 'MultipleChoice' -->
                    <div class="row-fluid" data-bind="template: { name: 'tmplEditorMultipleChoice', data: $data }" ></div>
                    <!-- /ko -->

                    <!-- ko if: $data.questionType === 'SingleChoice' -->
                    <div class="row-fluid" data-bind="template: { name: 'tmplEditorSingleChoice', data: $data }" ></div>
                    <!-- /ko --> 
        
                    <!-- ko if: $data.questionType === 'Descriptive' -->
                    <div class="row-fluid" data-bind="template: { name: 'tmplEditorDescriptive', data: $data }" ></div>
                    <!-- /ko -->
                    
                    <!-- ko if: $data.questionType === 'ComboBox' -->
                    <div class="row-fluid" data-bind="template: { name: 'tmplEditorComboBox', data: $data }"></div>
                    <!-- /ko -->
        
                    <!-- /ko -->                    

                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="row-fluid">Name of The Exam</div>*@
<div class="row-fluid">
    <div class="span3">        
        <div id="divQuestionType" class="list-group divQuestionType" data-bind="with: questionTypes">
            <!-- ko foreach: types -->
            <a href="#" class="list-group-item" data-bind="appendContent: nameText, attr: { qsnType : type}">
                <i data-bind="attr: { class : iconSyle}"></i>
            </a>
            <!-- /ko -->
            
            
            <a class="btn btn-large" title="Edit" data-bind="click: $root.previewExam" style="margin-top: 20px; float: right">
                <span class="icon-pencil icon-white"></span>
                Preview Exam
            </a>
        </div>
    </div>

    <div id="divQuestions" class="container-fluid span9 divQuestions">
        <div data-bind="style: { display: hasAnyQuestion() ? 'none' : 'block'}" style="background-color: #F5F5F5; padding: 35px">
            <div class="wrap-title">
                <h1>
                    <small style="left: 0px; right: 0px">Drop question types, and move up/down to change its position</small>
                </h1>
            </div>
        </div>  
        
        <!-- ko foreach: questions() -->

        <!-- ko if: $data.questionType === 'MultipleChoice' -->
        <div class="row-fluid divQuestion" data-bind="template: { name: 'tmplMultipleChoice', data: $data }, attr: {id: guidId}" ></div>
        <!-- /ko -->

        <!-- ko if: $data.questionType === 'SingleChoice' -->
        <div class="row-fluid divQuestion" data-bind="template: { name: 'tmplSingleChoice', data: $data }, attr: {id: guidId}" ></div>
        <!-- /ko --> 
        
        <!-- ko if: $data.questionType === 'Descriptive' -->
        <div class="row-fluid divQuestion" data-bind="template: { name: 'tmplDescriptive', data: $data }, attr: {id: guidId}" ></div>
        <!-- /ko -->
        
        <!-- ko if: $data.questionType === 'ComboBox' -->
        <div class="row-fluid divQuestion" data-bind="template: { name: 'tmplComboBox', data: $data }, attr: {id: guidId}"></div>
        <!-- /ko -->
        
        <!-- /ko -->
    </div>
</div>

@section scripts{
    @Html.Partial("~/Views/ExamManage/QuestionEditorTmpl.cshtml")
    @Html.Partial("~/Views/ExamManage/QuestionTmpl.cshtml")
    <script src="~/Scripts/Shared/common.js"></script>
    <script src="~/Scripts/Shared/Vms/vm.questionType.js"></script>
    <script src="~/Scripts/Shared/Vms/vm.qsn.singleChoice.js"></script>
    <script src="~/Scripts/Shared/Vms/vm.qsn.multipleChoice.js"></script>
    <script src="~/Scripts/Shared/Vms/vm.qsn.descriptive.js"></script>
    <script src="~/Scripts/Shared/Vms/vm.qsn.comboBox.js"></script>
    <script  type='text/javascript' src= "@Url.Content("~/Scripts/ExamManage/create.js")"></script> 
}

