﻿<!-- tmpl Single Choice-->
<script type="text/html" id="tmplSingleChoice">
    <div class="span12" style="margin-bottom: 20px;" data-bind="appendContent: title">
        <div class="btn-group divEditPanel">
            <a class="btn" title="Reset" data-bind="click: $root.showQsnToEdit">
                <span class="icon-pencil icon-white"></span>
                Reset
            </a>
        </div>
        <h2 class="btn" data-bind="text: ($index() + 1)"></h2>
        <br/>
    </div>
    <!-- ko foreach: options -->
    <div class="span10">
        <label>
            <input type="radio" />
            <span data-bind="text: title"></span>                
        </label>
    </div>
    <!-- /ko -->
</script>


<!-- tmpl Multiple Choice-->
<script type="text/html" id="tmplMultipleChoice">
    <div class="span12" style="margin-bottom: 20px;" data-bind="appendContent: title">
        <h2 class="btn" data-bind="text: ($index() + 1)"></h2>
        <div class="btn-group divEditPanel">
            <a class="btn" title="Reset" data-bind="click: $root.showQsnToEdit">
                <span class="icon-pencil icon-white"></span>
                Reset
            </a>
        </div>
        <br/>
    </div>
    <!-- ko foreach: options -->
    <div class="span10">
        <label class="checkbox">
            <input type="checkbox" />
            <span data-bind="text: title"></span>                
        </label>
    </div>
    <!-- /ko -->
</script>


<!-- tmpl Descriptive-->
<script type="text/html" id="tmplDescriptive">
    <div class="span12" style="margin-bottom: 20px;" data-bind="appendContent: title">
        <h2 class="btn" data-bind="text: ($index() + 1)"></h2>
        <div class="btn-group divEditPanel">
            <a class="btn" title="Reset" data-bind="click: $root.showQsnToEdit">
                <span class="icon-pencil icon-white"></span>
                Reset
            </a>
        </div>
        <br/>
    </div>
    <div class="span10">
        <div>
            <textarea></textarea>                    
        </div>
    </div>
</script>


<!-- tmpl Single Choice-->
<script type="text/html" id="tmplComboBox">
    <div class="span12" style="margin-bottom: 20px;" data-bind="appendContent: title">
        <div class="btn-group divEditPanel">
            <a class="btn" title="Reset" data-bind="click: $root.showQsnToEdit">
                <span class="icon-pencil icon-white"></span>
                Reset
            </a>
        </div>
        <h2 class="btn" data-bind="text: ($index() + 1)"></h2>
        <br />
    </div>
    <div class="span10">
        <select class="span6" data-bind="options: options,
                                        optionsText: 'title',
                                        optionsValue: 'value',
                                        optionsCaption: '--- Please Select ---'"></select>
    </div>
</script>

