﻿@{
    ViewBag.Title = "Exam Preview";
}

<div class="row-fluid">
    <div class="span12">
        <div id="divQuestions" class="container-fluid span10 divQuestions" style=" margin: 0 auto !important; float: none !important;">
            <div data-bind="style: { display: hasAnyQuestion() ? 'none' : 'block'}">
                <div class="wrap-title">
                    <h1>
                        <small style="left: 0px; right: 0px">No Question for the exam</small>
                    </h1>
                </div>
            </div>  
        
            <!-- ko foreach: questions() -->

            <!-- ko if: $data.questionType() === 'MultipleChoice' -->
            <div class="row-fluid divQuestion" data-bind="template: { name: 'tmplMultipleChoice', data: $data }" ></div>
            <!-- /ko -->

            <!-- ko if: $data.questionType() === 'SingleChoice' -->
            <div class="row-fluid divQuestion" data-bind="template: { name: 'tmplSingleChoice', data: $data }" ></div>
            <!-- /ko --> 
        
            <!-- ko if: $data.questionType() === 'Descriptive' -->
            <div class="row-fluid divQuestion" data-bind="template: { name: 'tmplDescriptive', data: $data }" ></div>
            <!-- /ko -->
        
            <!-- ko if: $data.questionType() === 'ComboBox' -->
            <div class="row-fluid divQuestion" data-bind="template: { name: 'tmplComboBox', data: $data }"></div>
            <!-- /ko -->

            <!-- /ko -->
        </div>      
    </div>
</div>

@section scripts{
    @Html.Partial("~/Views/ExamManage/PreviewQuestionTmpl.cshtml")
    <script src="~/Scripts/Shared/common.js"></script>
    <script src="~/Scripts/Shared/Vms/vm.questionType.js"></script>
    <script src="~/Scripts/Shared/Vms/vm.qsn.singleChoice.js"></script>
    <script src="~/Scripts/Shared/Vms/vm.qsn.multipleChoice.js"></script>
    <script src="~/Scripts/Shared/Vms/vm.qsn.descriptive.js"></script>
    <script  type='text/javascript' src= "@Url.Content("~/Scripts/ExamManage/preview.js")"></script> 
}