﻿<!-- tmpl Single Choice-->
<script type="text/html" id="tmplEditorSingleChoice">
    <form action="#" class="form-horizontal">
        <div class="content head">
            <h2 class="titleHeader">Question Detail</h2>
        </div>
        <div class="row-fluid" style="margin-bottom: 25px;">
            <div class="span6">
                <textarea data-bind="value: title"></textarea>
            </div>
            <div class="span6">
                <div class="row-fluid">
                    <div class="row-form">
                        <div class="span3">Marks :</div>
                        <div class="span9">
                            <input type="text" placeholder="Marks" data-bind="value: mark">
                        </div>
                    </div>
                    <div class="row-form">
                        <div class="span3">Duration :</div>
                        <div class="span9">
                            <input type="text" placeholder="Duration" data-bind="value: duration">
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <h2 class="titleHeader">Question Option</h2>
        <div class="row-fluid" style="margin-top: 15px; margin-bottom: 10px;">
            <a href="#" class="btn" data-bind="click: addDefaultOption">
                <i class="icon-plus icon-white"></i>
                Add Another Option
            </a> 
        </div>  
        
        <!-- ko foreach: options() -->
        <div class="row-fluid">
            <div class="span4">
                <input type="text" data-bind="value: title"/>
            </div>
            <div class="span2">
                <label class="radio" style="margin-left: 40px;">
                    <input type="radio" data-bind="attr: { name: $parent.guidId }, checked: isCurrect"/>
                    <span>Correct</span>                
                </label>
            </div>
            <div class="span2">
                <button type="button" class="btn" data-bind="click: $parent.removeOption">
                    <i class="icon-remove icon-white"></i>
                    Delete
                </button>                         
            </div>
        </div>   
        <!-- /ko -->                                          
    </form>
    <div class="row-fluid" style="background-color: #F5F5F5; margin-top: 30px;">
        <a href="#" class="btn" style="margin: 15px; float: right" data-bind="click: updateFromVm">
            <i class="icon-ok icon-white"></i>
            Save
        </a> 
    </div>               
</script>

<!-- tmpl Multiple Choice-->
<script type="text/html" id="tmplEditorMultipleChoice">
    <form action="#" class="form-horizontal">
        <div class="content head">
            <h2 class="titleHeader">Question Detail</h2>
        </div>
        <div class="row-fluid" style="margin-bottom: 25px;">
            <div class="span6">
                <textarea data-bind="value: title"></textarea>
            </div>
            <div class="span6">
                <div class="row-fluid">
                    <div class="row-form">
                        <div class="span3">Marks :</div>
                        <div class="span9">
                            <input type="text" placeholder="Marks" data-bind="value: mark">
                        </div>
                    </div>
                    <div class="row-form">
                        <div class="span3">Duration :</div>
                        <div class="span9">
                            <input type="text" placeholder="Duration" data-bind="value: duration">
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <h2 class="titleHeader">Question Option</h2>
        <div class="row-fluid" style="margin-top: 15px; margin-bottom: 10px;">
            <a href="#" class="btn" data-bind="click: addDefaultOption">
                <i class="icon-plus icon-white"></i>
                Add Another Option
            </a> 
        </div>  
        
        <!-- ko foreach: options() -->
        <div class="row-fluid">
            <div class="span4">
                <input type="text" data-bind="value: title"/>
            </div>
            <div class="span2">
                <label class="radio" style="margin-left: 40px;">
                    <input type="checkbox" data-bind="attr: { name: $parent.guidId }, checked: isCurrect"/>
                    <span>Correct</span>                
                </label>
            </div>
            <div class="span2">
                <button type="button" class="btn" data-bind="click: $parent.removeOption">
                    <i class="icon-remove icon-white"></i>
                    Delete
                </button>                         
            </div>
        </div>   
        <!-- /ko -->                                          
    </form>
    <div class="row-fluid" style="background-color: #F5F5F5; margin-top: 30px;">
        <a href="#" class="btn" style="margin: 15px; float: right" data-bind="click: updateFromVm">
            <i class="icon-ok icon-white"></i>
            Save
        </a> 
    </div>               
</script>

<!-- tmpl Descriptive-->
<script type="text/html" id="tmplEditorDescriptive">
    <form action="#" class="form-horizontal">
        <div class="content head">
            <h2 class="titleHeader">Question Detail</h2>
        </div>
        <div class="row-fluid" style="margin-bottom: 25px;">
            <div class="span6">
                <textarea data-bind="value: title"></textarea>
            </div>
            <div class="span6">
                <div class="row-fluid">
                    <div class="row-form">
                        <div class="span3">Marks :</div>
                        <div class="span9">
                            <input type="text" placeholder="Marks" data-bind="value: mark">
                        </div>
                    </div>
                    <div class="row-form">
                        <div class="span3">Duration :</div>
                        <div class="span9">
                            <input type="text" placeholder="Duration" data-bind="value: duration">
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </form>
    <div class="row-fluid" style="background-color: #F5F5F5; margin-top: 30px;">
        <a href="#" class="btn" style="margin: 15px; float: right" data-bind="click: updateFromVm">
            <i class="icon-ok icon-white"></i>
            Save
        </a> 
    </div>               
</script>

<!-- tmpl ComboBox-->
<script type="text/html" id="tmplEditorComboBox">
    <form action="#" class="form-horizontal">
        <div class="content head">
            <h2 class="titleHeader">Question Detail</h2>
        </div>
        <div class="row-fluid" style="margin-bottom: 25px;">
            <div class="span6">
                <textarea data-bind="value: title"></textarea>
            </div>
            <div class="span6">
                <div class="row-fluid">
                    <div class="row-form">
                        <div class="span3">Marks :</div>
                        <div class="span9">
                            <input type="text" placeholder="Marks" data-bind="value: mark">
                        </div>
                    </div>
                    <div class="row-form">
                        <div class="span3">Duration :</div>
                        <div class="span9">
                            <input type="text" placeholder="Duration" data-bind="value: duration">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="titleHeader">Question Option</h2>
        <div class="row-fluid" style="margin-top: 15px; margin-bottom: 10px;">
            <a href="#" class="btn" data-bind="click: addDefaultOption">
                <i class="icon-plus icon-white"></i>
                Add Another Option
            </a>
        </div>

        <!-- ko foreach: options() -->
        <div class="row-fluid">
            <div class="span4">
                <input type="text" data-bind="value: title" />
            </div>
            <div class="span2">
                <label class="radio" style="margin-left: 40px;">
                    <input type="radio" data-bind="attr: { name: $parent.guidId }, checked: isCurrect" />
                    <span>Correct</span>
                </label>
            </div>
            <div class="span2">
                <button type="button" class="btn" data-bind="click: $parent.removeOption">
                    <i class="icon-remove icon-white"></i>
                    Delete
                </button>
            </div>
        </div>
        <!-- /ko -->
    </form>
    <div class="row-fluid" style="background-color: #F5F5F5; margin-top: 30px;">
        <a href="#" class="btn" style="margin: 15px; float: right" data-bind="click: updateFromVm">
            <i class="icon-ok icon-white"></i>
            Save
        </a>
    </div>
</script>


