﻿<div class="span12" style="margin-bottom: 20px;">
    <h2 class="btn">1.</h2>
    <!--Edit panel on hover-->
    <div class="btn-group divEditPanel">
        <a class="btn" title="Edit">
            <span class="icon-pencil icon-white"></span>
            Edit
        </a>
        <a class="btn" title="Delete">
            <span class="icon-remove icon-white"></span>
            Delete
        </a>
    </div>
    <br/>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut diam quis dolor mollis tristique. Suspendisse vestibulum convallis felis vitae facilisis. Praesent eu nisi vestibulum erat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut diam quis dolor mollis tristique. Suspendisse vestibulum convallis felis vitae facilisis. Praesent eu nisi vestibulum erat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut diam quis dolor mollis tristique. Suspendisse vestibulum convallis felis vitae facilisis. Praesent eu nisi vestibulum.                   
</div>
<div class="span10">
    <label class="checkbox">
        <input type="checkbox" />
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut diam quis dolor mollis tristique. Suspendisse vestibulum convallis felis vitae facilisis. Praesent eu nisi vestibulum erat.</span>                
    </label>
</div>
<div class="span10">
    <label class="checkbox">
        <input type="checkbox" />
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut diam quis dolor mollis tristique. Suspendisse vestibulum convallis felis vitae facilisis. Praesent eu nisi vestibulum erat.</span>                
    </label>
</div>
<div class="span10">
    <label class="checkbox">
        <input type="checkbox" />
        <span>sdsdssssss</span>
    </label>
</div>
<div class="span10">
    <label class="checkbox">
        <input type="checkbox" />
        <span>sdsdssssss</span>
    </label>
</div>
