﻿<!DOCTYPE html>
<html lang="en">

    <!-- Mirrored from aqvatarius.com/themes/aries/login.html by HTTrack Website Copier/3.x [XR&CO'2013], Fri, 06 Sep 2013 22:23:23 GMT -->
    <head>        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />    
        <!--[if gt IE 8]>
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />        
        <![endif]-->                
        <title>Login - Aries Premium Admin Template</title>
        <link rel="icon" type="image/ico" href="~/favicon.ico"/>
    
        <link href="~/Content/css/stylesheets.css" rel="stylesheet" type="text/css" />
        <!--[if lt IE 10]>
            <link href="~/Content/css/ie.css" rel="stylesheet" type="text/css" />
        <![endif]-->           
        <!--[if lte IE 7]>
            <script type='text/javascript' src='~/Content/js/plugins/other/lte-ie7.js'></script>
        <![endif]-->    
        <script type='text/javascript' src='~/Scripts/jquery-2.1.0.min.js'></script>
        <script type='text/javascript' src='~/Content/js/plugins/jquery/jquery-ui-1.10.3.custom.min.js'></script>
        <script type='text/javascript' src='~/Content/js/plugins/jquery/jquery-migrate-1.2.1.min.js'></script>
        <script type='text/javascript' src='~/Content/js/plugins/jquery/globalize.js'></script>
        <script type='text/javascript' src='~/Content/js/plugins/other/excanvas.js'></script>
    
        <script type='text/javascript' src='~/Content/js/plugins/other/jquery.mousewheel.min.js'></script>
        <script type='text/javascript' src='~/Content/js/plugins/bootstrap/bootstrap.min.js'></script>
        <script type='text/javascript' src="'~/Content/js/plugins/uniform/jquery.uniform.min.js"></script>
        <script type='text/javascript' src='~/Content/js/plugins/shbrush/XRegExp.js'></script>
        <script type='text/javascript' src='~/Content/js/plugins/shbrush/shCore.js'></script>
        <script type='text/javascript' src='~/Content/js/plugins/shbrush/shBrushXml.js'></script>
        <script type='text/javascript' src='~/Content/js/plugins/shbrush/shBrushJScript.js'></script>
        <script type='text/javascript' src='~/Content/js/plugins/shbrush/shBrushCss.js'></script>    
    
        <script type='text/javascript' src='~/Content/js/plugins.js'></script>
        <script type='text/javascript' src='~/Content/js/charts.js'></script>
        <script type='text/javascript' src='~/Content/js/actions.js'></script>

        <script src="~/Scripts/json2.min.js"></script>
        <script src="~/Scripts/amplify.min.js"></script>
        <script src="~/Scripts/knockout-3.1.0.js"></script>
    
    </head>
    <body>  
        @RenderBody()      
    </body>

    <!-- Mirrored from aqvatarius.com/themes/aries/login.html by HTTrack Website Copier/3.x [XR&CO'2013], Fri, 06 Sep 2013 22:23:23 GMT -->
</html>
