﻿<!DOCTYPE html>
<html lang="en">

    <!-- Mirrored from aqvatarius.com/themes/aries/ by HTTrack Website Copier/3.x [XR&CO'2013], Fri, 06 Sep 2013 22:19:40 GMT -->
    <head>        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />    
        <!--[if gt IE 8]>
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />        
        <![endif]-->                
        <title>Aries - Metro Style Admin Panel</title>
        <link rel="icon" type="image/ico" href="/favicon.ico"/>
        <link href="~/Content/css/cleditor/cleditor.css" rel="stylesheet" />
        <link href="~/Content/css/stylesheets.css" rel="stylesheet" type="text/css" />
        <!--[if lte IE 7]>
            <link href="~/Content/css/ie.css" rel="stylesheet" type="text/css" />
            <script type='text/javascript' src='~/Content/js/plugins/other/lte-ie7.js'> </script>
        <![endif]-->    
    </head>
    <body>    
        <div id="loader"><img src="~/Content/img/loader.gif"/></div>
        <div class="wrapper">
        
            <div class="sidebar">
                <div class="top">
                    <a href="index-2.html" class="logo"></a>
                    <div class="search">
                        <div class="input-prepend">
                            <span class="add-on orange"><span class="icon-search icon-white"></span></span>
                            <input type="text" placeholder="search..."/>                                                      
                        </div>            
                    </div>
                </div>
                <div class="nContainer">
                    <ul class="navigation">         
                        <li class="active"><a href="@Url.Action("Index", "ExamManage")" class="blgreen">Exam</a></li>
                    </ul>
                    <a class="close">
                        <span class="ico-remove"></span>
                    </a>
                </div>
                <div class="widget">
                    <div class="datepicker"></div>
                </div>           
            </div>
        
            <div class="body">
            
                <ul class="navigation">

                    <li>
                        <div class="user">
                            <img src="~/Content/img/examples/users/dmitry_m.jpg" align="left"/>
                            <a href="#" class="name">
                                <span>Dmitry Ivaniuk</span>
                                <span class="sm">Administrator</span>
                            </a>
                        </div>
                    </li>
                     
                
                    <li>
                        <div class="buttons">
                            <div class="sbutton green navButton">
                                <a href="#"><span class="ico-align-justify"></span></a>
                            </div>
                            <div class="sbutton blue">
                                <a href="#"><span class="ico-cogs"></span></a>
                                <div class="popup">
                                    <div class="arrow"></div>
                                    <div class="row-fluid">
                                        <div class="row-form">
                                            <div class="span12"><strong>SETTINGS</strong></div>
                                        </div>                                    
                                        <div class="row-form">
                                            <div class="span4">Navigation:</div>
                                            <div class="span8">
                                                <label><input type="radio" class="cNav" name="cNavButton" value="default"/> Default</label>
                                                <label><input type="radio" class="cNav" name="cNavButton" value="bordered"/> Bordered</label>
                                            </div>
                                        </div>
                                        <div class="row-form">
                                            <div class="span4">Nav color:</div>
                                            <div class="span8">
                                                <div class="cNavC">
                                                    <span class="color_1" name="cNavButColor"></span>
                                                    <span class="color_2" name="cNavButColor"></span>
                                                    <span class="color_3" name="cNavButColor"></span>
                                                    <span class="color_4" name="cNavButColor"></span>
                                                    <span class="color_5" name="cNavButColor"></span>
                                                    <span class="color_6" name="cNavButColor"></span>
                                                    <span class="color_7" name="cNavButColor"></span>
                                                    <span class="color_8" name="cNavButColor"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-form">
                                            <div class="span4">Top navigation:</div>
                                            <div class="span8">
                                                <label><input type="radio" class="cTopNavH" name="cTopNavHide" value="show"/> Show</label>
                                                <label><input type="radio" class="cTopNavH" name="cTopNavHide" value="hide"/> Hide</label>
                                            </div>
                                        </div> 
                                        <div class="row-form">
                                            <div class="span4">Content:</div>
                                            <div class="span8">
                                                <label><input type="radio" class="cCont" name="cContent" value=""/> Responsive</label>
                                                <label><input type="radio" class="cCont" name="cContent" value="fixed"/> Fixed</label>
                                            </div>
                                        </div>                                    
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </li>                
                </ul>
            
            
                <div class="content">
                
                    <div class="page-header">
                        <div class="wrap-title">
                            <h1>Dashboard <small>METRO STYLE ADMIN PANEL</small></h1>
                        </div>
                        <ul class="breadcrumb">
                            <li class="active">Home</li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    @RenderBody()
                </div>
            
            </div>
        
        </div>
    
        <div class="dialog" id="source" style="display: none;" title="Source"></div>
    
        <div id="fcAddEvent" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fcAddEventLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="fcAddEventLabel">Add new event</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span3">Title:</div>
                    <div class="span9"><input type="text" id="fcAddEventTitle"/></div>
                </div>
            </div>
            <div class="modal-footer">            
                <button class="btn btn-primary" id="fcAddEventButton">Add</button>            
            </div>
        </div>    
        

        <script type='text/javascript' src='~/Scripts/jquery-2.1.0.min.js'></script>
        <script type='text/javascript' src='~/Content/js/plugins/jquery/jquery-ui-1.10.3.custom.min.js'> </script>
        <script type='text/javascript' src='~/Content/js/plugins/jquery/jquery-migrate-1.2.1.min.js'> </script>
        <script type='text/javascript' src='~/Content/js/plugins/jquery/globalize.js'> </script>
        <script type='text/javascript' src='~/Content/js/plugins/other/excanvas.js'> </script>
    
        <script type='text/javascript' src='~/Content/js/plugins/other/jquery.mousewheel.min.js'> </script>
        
        <script type='text/javascript' src='~/Content/js/plugins/bootstrap/bootstrap.min.js'> </script>
        <script src="~/Content/js/plugins/bootstrapModalPopover/bootstrap-modal-popover.js"></script>

        <script type='text/javascript' src='~/Content/js/plugins/cookies/jquery.cookies.2.2.0.min.js'> </script>    
    
        <script type='text/javascript' src='~/Content/js/plugins/jflot/jquery.flot.js'> </script>    
        <script type='text/javascript' src='~/Content/js/plugins/jflot/jquery.flot.stack.js'> </script>    
        <script type='text/javascript' src='~/Content/js/plugins/jflot/jquery.flot.pie.js'> </script>
        <script type='text/javascript' src='~/Content/js/plugins/jflot/jquery.flot.resize.js'> </script>
    
        <script type='text/javascript' src='~/Content/js/plugins/epiechart/jquery.easy-pie-chart.js'> </script>    
        <script type='text/javascript' src='~/Content/js/plugins/sparklines/jquery.sparkline.min.js'> </script>        
    
        <script type='text/javascript' src='~/Content/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js'> </script>
    
        <script type='text/javascript' src='~/Content/js/plugins/uniform/jquery.uniform.min.js'> </script>
        <script type='text/javascript' src='~/Content/js/plugins/cleditor/jquery.cleditor.js'></script> 
        <script type='text/javascript' src='~/Content/js/plugins/fullcalendar/fullcalendar.min.js'> </script>
    
        <script type='text/javascript' src='~/Content/js/plugins/shbrush/XRegExp.js'> </script>
        <script type='text/javascript' src='~/Content/js/plugins/shbrush/shCore.js'> </script>
        <script type='text/javascript' src='~/Content/js/plugins/shbrush/shBrushXml.js'> </script>
        <script type='text/javascript' src='~/Content/js/plugins/shbrush/shBrushJScript.js'> </script>
        <script type='text/javascript' src='~/Content/js/plugins/shbrush/shBrushCss.js'> </script>    
    
        <script type='text/javascript' src='~/Content/js/plugins.js'> </script>
        <script type='text/javascript' src='~/Content/js/charts.js'> </script>  
        <script type='text/javascript' src='~/Content/js/actions.js'> </script>
        
        <script src="~/Scripts/json2.min.js"></script>
        <script src="~/Scripts/amplify.min.js"></script>

        <script src="~/Scripts/knockout-3.1.0.js"></script>
        <script src="~/Scripts/knockout.validation.js"></script>
        <script src="~/Scripts/knockout.mapping-latest.js"></script>
        
        <script src="~/Scripts/infuser.min.js"></script>
        <script src="~/Scripts/TrafficCop.min.js"></script>
        <script src="~/Scripts/koExternalTemplateEngine.min.js"></script>

        @RenderSection("scripts", required: false)   
    </body>

    <!-- Mirrored from aqvatarius.com/themes/aries/ by HTTrack Website Copier/3.x [XR&CO'2013], Fri, 06 Sep 2013 22:21:46 GMT -->
</html>