﻿@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div id="loader"><img src="~/Views/Shared/img/loader.gif"/></div>
       
<div class="login">
    <div class="page-header">
        <div class="icon">
            <span class="ico-arrow-right"></span>
        </div>
        <h1>Login <small>METRO STYLE ADMIN PANEL</small></h1>
    </div>        
    <div class="row-fluid">
        <div class="row-form">
            <div class="span12">
                <input type="text" name="login" placeholder="login" value="admin"/>
            </div>
        </div>
        <div class="row-form">
            <div class="span12">
                <input type="password" name="password" placeholder="password" value="admin"/>
            </div>            
        </div>
        <div class="row-form">
            <div class="span12">
                <input type="checkbox"/> Keep me signed in
            </div>
        </div>
        <div class="row-form">
            <div class="span12">
                <a class="btn" href="@Url.Action("Index", "ExamManage")">
                    Sign in <span class="icon-arrow-next icon-white"></span>
                </a>
            </div>                
        </div>
    </div>
</div>
